@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width:767px) {

  .responsive {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mediares {
    width: 90vw;
  }

  .mediabutton{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.buttonsize {
    height: 34px;
    width: 34px;
}

.quantitysize{
    margin-top: 5px;
}

.reshead {
  margin-right: 0px;
}



  
}
